@import '../../../Constants';

.filters {
  justify-content: flex-end;
  align-items: stretch;
  margin-top: 2rem;
  display: flex;

  @media screen and (max-width: $page-size-l) {
    flex-wrap: wrap;
  }
}

.switch {
  border: 1px solid $border_color;
  border-radius: 5px;
  margin-left: 20px;
  display: flex;

  & > span {
    border-right: 1px solid $border_color;
    padding: 5px 10px;
    cursor: pointer;

    &:last-child {
      border-right: none;
    }

    &.active {
      background: lighten($border_color, 5%);
    }

    &:hover {
      background: lighten($border_color, 10%);
    }

    &:focus {
      outline: none;
    }
  }

  @media screen and (max-width: $page-size-l) {
    margin: 0 0 10px 10px;
  }

  @media screen and (max-width: $page-size-m) {
    margin: 20px;
  }
}
