@import 'Constants';

html {
  min-height: 100%;
  font-size: 18px;
  height: 100%;

  @media screen and (max-width: $page-size-xl) {
    font-size: 17px;
  }

  @media screen and (max-width: $page-size-l) {
    font-size: 16px;
  }

  @media screen and (max-width: $page-size-s) {
    font-size: 14px;
  }
}

body {
  font-family: "Gotham Custom", Arial, sans-serif;
  flex-direction: column;
  color: $main_color;
  min-height: 100%;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  height: auto;
  margin: 0;
  flex: 1;

  #__next {
    flex-direction: column;
    overflow-y: auto;
    min-height: 100%;
    display: flex;
    height: auto;
    flex: 1;
  }
}


.page {
  flex-direction: column;
  color: $main_color;
  font-size: 1rem;
  display: flex;
  margin: 0;

  &__loading-spinner {
    background: #fff;
    height: 100%;
  }

  &--loading {
    overflow: hidden;
    height: 0;
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input:focus, textarea {
  outline: none;
}

.super-title {
  position: fixed;
  top: -200px;
}

a {
  color: #5c5c65;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

div::-webkit-scrollbar {
  position: fixed;
  background: #fff;
  height: 8px;
  width: 8px;

  &-button {
    height: 0;
    width: 0;
  }

  &-thumb {
    background: $border-color;
    border-radius: 3px;
  }
}

@font-face {
  src: url(/Gotham.otf);
  font-display: fallback;
  font-family: "Gotham Custom";
}
